.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Header {
  background-color: #1c1c20;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Menu-main-container {
	width: 65%;
	height: 6vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #f32e0a;
}

.Menu-container {
	width: 85px;
	padding: 8px 12px;
}

.App-Welcome {
  background-color: grey;
  min-height: 60vh;
  width: 100%;
	display: flex;
	flex-direction: row;
}

.App-Welcome-Subcontainer {
	width: 50%;
	height: 60vh;
/*	border: 1px solid yellow;*/
	background-color: #fafafa;
}

.App-Body {
  background-color: #313f57;
  min-height: 17vh;
  width: 100%;
}

.App-Solution {
  background-color: #fafafa;
  min-height: 45vh;
  width: 100%;
}

.App-Data {
  background-color: lightblue;
  min-height: 45vh;
  width: 100%;
}

.App-DataProof {
  background-color: #313f57;
  min-height: 17vh;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
